<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="/style.css" />
    <title>Heroes List</title>
  </head>
  <body>
    <h1>Hero List</h1>
    <%=if(heroes && heroes.length > 0) {%>
<ul>
<li>

</li>
</ul>
    <%=}else{%>
    <p>No heroes found</p>
    <%=}%>
  </body>
</html>
